/* .main-home-page {
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
} */

.filter-bar-content-div {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;

}


@media (max-width: 768px) {
    .filter-bar-content-div {
        flex-direction: column;
        height: 100vh;
        padding: 0rem;
    }
}