.main-home-page-content {
    padding: 1rem;
}

.home-page-content {
    padding: 1rem;
}

@media (max-width: 768px) {
    .main-home-page-content {
        padding: 1rem;
    }

    .home-page-content {
        display: flex;
        justify-content: center;
    }
}