.main-home-page-content {
    padding: 2rem;
    box-sizing: border-box;
    /* Ensures padding doesn't affect layout */
}

.home-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.car-card-div {
    display: flex;
    flex-wrap: wrap;
    /* Allows the cards to wrap onto the next line */
    justify-content: space-around;
    /* Distributes cards with space between */
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    /* Ensure borders/padding don't cause issues */
}

@media (max-width: 768px) {
    .main-home-page-content {
        padding: 1rem;
    }

    .home-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .car-card-div {
        justify-content: space-evenly;
        /* Adjust to make the layout look better on smaller screens */
    }
}