 .navbar {
     background-color: var(--text-white);
     padding: 0rem 1rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }


 .navbar-brand {
     font-size: 1.6rem;
     font-weight: bold;
     color: var(--primary-purple) !important;
     display: flex;
     align-items: center;
 }


 .navbar-toggler {
     border: none !important;
     color: var(--primary-purple) !important;
     margin-left: auto;
 }

 .navbar-toggler-icon {
     color: var(--primary-purple) !important;
 }


 .navbar-nav .nav-item {
     display: flex;
     align-items: center;
 }

 .navbar-nav .nav-link {
     color: var(--primary-purple) !important;
     font-size: 1.1rem;
     font-weight: 500;
     margin: 0 0.5rem;
     transition: color 0.3s ease, background-color 0.3s ease;
 }

 .navbar-nav .nav-link:hover,
 .navbar-nav .dropdown-toggle:hover {
     color: var(--text-white) !important;
     background-color: var(--primary-purple);
     border-radius: 5px;
 }

 .navbar-nav .user-item {
     display: flex;
     align-items: center;
 }


 .navbar-toggler:focus {
     box-shadow: none;
 }


 .dropdown-menu {
     background-color: var(--text-white);
     border: none !important;
 }

 .dropdown-item {
     color: var(--primary-purple) !important;
     transition: background-color 0.3s ease;
 }


 .dropdown-item:hover {
     background-color: var(--primary-purple);
     color: var(--text-white) !important;
 }


 .navbar-logo {
     width: 100px;
     height: auto;
 }

 .logout-btn {
     background-color: var(--primary-purple);
     color: var(--text-white);
     width: 100%;
     border: none;
     border-radius: 5px;
     padding: 0.5rem 0.5rem;
     cursor: pointer;
 }

 .logout-btn:hover {
     background-color: var(--hover-purple);
     color: var(--text-white);
 }


 @media (max-width: 768px) {
     .navbar-logo {
         width: 50px;
         height: auto;
     }


     .navbar-collapse {
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;
     }

     .navbar-nav .nav-link {
         padding: 0.5rem 0;
         text-align: center;
         width: 100%;
     }

     .ms-2 {
         font-size: 1.4rem;
     }

     /* .navbar-toggler {
         margin-top: 10px;
     } */
 }